* {
    box-sizing: border-box;
}

body {
    background: #25252b;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

main {
    height: 500px;
    width: 768px;
    background: #25252b;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: -1px -1px 15px 0px rgba(255, 255, 255, 0.158);
}

.form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-block: 25px;
    gap: 5px;
}

input {
    width: 25%;
    padding-inline: 10px;
    padding-block: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 19px;
    background-color: rgb(238, 238, 238);
}

.search {
    width: 42px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 8px;
}

button {
    height: 42px;
    border-radius: 5px;
    border: none;
    font-size: 19px;
    background-color: rgb(113, 103, 252);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(73, 67, 155);
}

.loc {
    width: 180px;
}

.weather {
    width: 85%;
    height: calc(100% - 92px);
    margin-inline: auto;
    background-color: transparent;
}
