* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #333338, #2e2e36);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 500px;
    width: 768px;
    background: linear-gradient(to right, #333338, #181820);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: -1px -1px 15px 0px rgba(255, 255, 255, 0.158);
}

form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-block: 25px;
    gap: 10px;
}

input {
    width: 25%;
    padding-inline: 10px;
    padding-block: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 19px;
    background-color: rgb(238, 238, 238);
}

.search {
    width: 42px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.search ion-icon {
    padding-bottom: -5px;
}

button {
    height: 42px;
    border-radius: 5px;
    border: none;
    font-size: 19px;
    background-color: rgb(113, 103, 252);
    color: white;
    font-weight: bold;
}
